@font-face {
    font-family: "FontAwesome";
    src: url("/font/fontawesome-webfont.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf");
}

.root {
    -fx-font-family: "Roboto";
    -fx-text-fill: #333;
}

ProgressIndicator {
    -fx-max-width: 1.2em;
    -fx-max-height: 1.2em;
}

.label-title {
    -fx-font-size: 1.2em;
    -fx-padding: 20 0 10 0;
    -fx-text-fill: black;
}

.label-muted {
    -fx-font-size: 0.9em;
    -fx-text-fill: #999;
}

.label-title-icon-green {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 1.2em;
    -fx-padding: 20 0 10 0;
    -fx-text-fill: green;
}

/* to take account of 2px border bottom from `.form-field-error` to prevent form field from growing/shrinking. */
.form-field {
    -fx-pref-height: 27;
}

.form-field-error {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: red;
}

/*.label-title-icon-red {*/
/*-fx-font-family: 'FontAwesome';*/
/*-fx-font-size: 1.2em;*/
/*-fx-padding: 20 0 10 0;*/
/*-fx-text-fill: red;*/
/*}*/

/*.button:hover {*/
/*-fx-background-color: linear-gradient(#2A5058, #61a2b1);*/
/*}*/

/*.pane {*/
/*-fx-background-color: #8fbc8f;*/
/*}*/