@font-face {
    font-family: "FontAwesome";
    src: url("/font/fontawesome-webfont.ttf");

}

/*.root {*/
/*!*-fx-font-family: "Arial";*!*/
/*}*/

ProgressIndicator {
    -fx-max-width: 15;
    -fx-max-height: 15;
}

Label {
    -fx-font-family: 'FontAwesome';
}

.label-icon-green {
    -fx-font-size: 16;
    -fx-text-fill: green;
}

.label-icon-red {
    -fx-font-size: 16;
    -fx-text-fill: red;
}

/*.fa-label {*/
/*-fx-font-family: "FontAwesome";*/
/*}*/

/*.label {*/
/*-fx-font-size: 12px;*/
/*-fx-font-weight: bold;*/
/*-fx-text-fill: #333333;*/
/*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);*/
/*}*/

/*#welcome-text {*/
/*-fx-font-size: 32px;*/
/*-fx-font-family: "Arial Black";*/
/*-fx-fill: #818181;*/
/*-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);*/
/*}*/

/*#actiontarget {*/
/*-fx-fill: FIREBRICK;*/
/*-fx-font-weight: bold;*/
/*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);*/
/*}*/

/*.button {*/
/*-fx-text-fill: white;*/
/*-fx-font-family: "Arial Narrow";*/
/*-fx-font-weight: bold;*/
/*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
/*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);*/
/*}*/

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

/*.pane {*/
/*-fx-background-color: #8fbc8f;*/
/*}*/