@font-face {
    font-family: "FontAwesome";
    src: url("/font/fontawesome-webfont.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf");
}

.root, Label {
    -fx-font-family: "Roboto";
    -fx-text-fill: #333;
}

ProgressIndicator {
    -fx-max-width: 1.2em;
    -fx-max-height: 1.2em;
}

.label-title {
    -fx-font-size: 1.2em;
    -fx-padding: 20 0 10 0;
    -fx-text-fill: black;
}

.label-muted {
    -fx-font-size: 0.9em;
    -fx-text-fill: gray;
}

.label-icon-green {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 1.2em;
    -fx-text-fill: green;
}

.label-icon-red {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 1.2em;
    -fx-text-fill: red;
}

/*.button:hover {*/
/*-fx-background-color: linear-gradient(#2A5058, #61a2b1);*/
/*}*/

/*.pane {*/
/*-fx-background-color: #8fbc8f;*/
/*}*/